.p1 {
  padding: 1em
}

.px1 {
  padding-left: 1em;
  padding-right: 1em;
}

.py1 {
  padding-top: 1em;
  padding-bottom: 1em
}

.m0 {
  margin: 0;
}

.mxauto {
  margin-left: auto;
  margin-right: auto;
}

.pt3 {
  padding-top: 3em;
}

.mt1 {
  margin-top: 1em;
}